@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: linear-gradient(45deg, #590212, hsl(349, 94%, 39%));
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: white;
    max-width: 500px;
    min-height: 100px;
    padding: 5rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

main img {
    object-position: center;
    object-fit: contain;
    max-height: 250px;
    min-width: 250px;
    
    
}

form{
    display: flex;
    flex-direction: column;
}

.input-field {
    text-align: center;
}
.jogador {
    text-align: center;
    position:center;
    color: #031059;
    font-weight: 600;
    font-size: 20px;
} 
.adm {
    color: black;
    font-size: 0.8rem;
    text-align: center;
}



.account input:focus ~ .underline::after {
    transform: scaleX(1);
    
}
form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #590212, #031059);
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    border-radius: 4px;
    font-weight: 800;

}
.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
}

.footer .social-field {
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.85rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}

.footer .social-field a i {
    margin: 0 0.5rem;
    width: 15px;
}

.footer .social-field a {
    text-decoration: none;
    color: white;
}

.footer .social-field.instagram {
    background: linear-gradient(to right, #031059, #112bbf);
}

.footer .social-field.facebook {
    background: linear-gradient(to right, #031059, #112bbf);
}
.staff {
    text-align: center;
    font-size: 00.5rem;
}
